<div class="container">
    <div class="discount-coupon-card p-4 p-lg-5 dir-rtl">
      <div class="d-flex align-items-center">
        <div class="discountIcon"><img class="w-100" src="img/core-img/discount.png" alt=""></div>
        <div class="text-content">
          <h4 class="text-white mb-1">Get 20% discount!</h4>
          <p class="text-white mb-0">To get discount, enter the<span class="px-1 fw-bold">GET20</span>code on the checkout page.</p>
        </div>
      </div>
    </div>
  </div>