{% extends 'base.html' %}
{% load static%}

{%block content %}

<body>
  
<div class="product-catagories-wrapper py-3">
    <div class="container">
      <div class="row g-2 rtl-flex-d-row-r">
        <!-- Catagory Card -->
        {% for c in categories %}
        <div class="col-3">
          <div class="card catagory-card">
            <div class="card-body px-2"><a href="{{c.get_absolute_url}}"><img src="{{c.image.url}}" alt=""><span>{{c.name}}</span></a></div>
          </div>
        </div>
        {%endfor%} 
        <!-- Catagory Card -->
        <div class="col-3">
          <div class="card catagory-card active">
            <div class="card-body px-2"><a href="catagory.html"><img src="{% static 'assets/img/core-img/price-tag.png' %}" alt=""><span>Clearance Sale</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>



{%endblock%}
</body>
